*.sdf
*.suo
*.ncb
*.user
Debug
Release
crypto/buildinf.h
include/openssl/applink.c
include/openssl/e_os.h
include/openssl/md2.h
include/openssl/o_dir.h
include/openssl/o_str.h
include/openssl/pq_compat.h
include/openssl/rc5.h
include/openssl/store.h
include/openssl/tmdiff.h
libeay32.def
libeay32_wince.def
ssleay32.def
